.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  width: 100%;
  font-weight: 500;
}

.description {
  width: 100%;
  font-size: 12px;
  color: #8c8c8c;
}

:global(
    .ant-select-multiple
      .ant-select-selection-overflow
      .ant-select-selection-item-content
  ) {
  line-height: 22px;
}

:global(.ant-select-dropdown .ant-select-item-option-content) {
  line-height: 22px;
}
