.container {
  width: 240px;
  height: 100vh;
  padding: 52px 0 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #313a46;
  transition: left 0.2s ease-in-out;
}

.userInfo {
  margin: 0 12px 25px;
  color: #fff;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0 10px;
}

.avatar {
  grid-area: 1/1/3/2;
  align-self: center;
}

.role {
  font-size: 12px;
}

.name {
  font-size: 16px;
}

.pointInfo {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.navTitle {
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #8391a2;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  padding: 28px 0;
}

.link {
  margin-bottom: 8px;
  padding: 9px 24px;
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #bfcde2;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(191, 205, 226, 0.1);
    color: #fff;
  }

  &Active {
    background-color: rgba(191, 205, 226, 0.2);
    color: #fff;

    &:hover {
      background-color: rgba(191, 205, 226, 0.2);
      color: #fff;
    }
  }
}
