.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

// .tableContainer {
//   max-height: 500px;
//   overflow: scroll;
// }

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.selector {
  max-width: 200px;
}
