.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.row {
  cursor: pointer;
}

.cuttedCell {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
