.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.selector {
  max-width: 250px;
}

.row {
  cursor: pointer;
}

.idCell {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
